#content{
  background-color: #333333;
  width: 70%;
  margin: auto;
  height: 100%;
}

.card{
  background-color: #3f3f3f;
}

html, body{
  background-color: #0b0b0b;
  min-width: 600px;

}

h1{
  color: #00a2d9;
}

img {
  width: 150px;
  height: 200px;
  margin-left: 10px;
}

h5{
  color: #e4e4e4;
}

#desc{
  color: #e4e4e4;
}

.card-link{
  color: #00a2d9;
}

.passed, .future{
  margin-top: 5px;
  border-radius: 10px;
  width: 300px;
  height: 70px;
  text-align: center;
  font-family: Arial, serif;
  border-color: #3f3f3f;
  border-style: solid;
}

.container {
  display: inline-flex;
  column-gap: 10px;
  justify-items: flex-start;
}

.screenings-list {
  display: inline-flex;
  justify-items: flex-start;
}

.passed {
  background-color: #333333;
  cursor: auto;
}

.future {
  background-color: gray;
}

.card-link {
  text-decoration: none;
}

.genre-list {
  display: flex;
}

.genre-item {
  margin-bottom: 10px;
  color: #e4e4e4;
}

span {
  margin-right: 10px;
  margin-left: 5px;
}

/*select {*/
/*  margin-bottom: 15px;*/
/*}*/

#date-picker {
  margin-left: 10px;
  margin-right: 10px;

}

#cinemaSelect {
  background-color: #3f3f3f;
  color: #00abcd;
  min-width: 100px;
  justify-content: flex-end;
  height: 55px;
  border-radius: 5px;
  border-color: #3f3f3f;
}

.filter-section {
    display: flex;
}

#genres {
  justify-content: flex-end;
}

/*datepicker and genre selector background*/
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #3f3f3f !important;
}

/*datepicker and gebres hint/label text*/
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
  color: #00abcd !important;
}

/*datepicker calendar icon*/
.mat-datepicker-toggle {
  color: #00abcd !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: #e4e4e4 !important;
}

::ng-deep .mat-mdc-select {
  color: #e4e4e4 !important;
}

::ng-deep .mat-mdc-form-field.mat-focused .mat-mdc-select-arrow {
  color: #00abcd !important;
}

::ng-deep .mat-mdc-select-arrow {
  color: #00abcd !important;
}

.filter {
  flex: 1;
}

.filter:nth-child(3) {
  margin-right: auto;
}

.rating{
  margin-right: 40px;
  right: 0;
  width: 100px;
  margin-left: auto;
}

#rating-border{
  border: 2px solid #f2f2f2;
}

#rating{
  margin: 5px;
  width: 100px;
  color: #f2f2f2;

}
.flex-child:first-child {
  margin-right: 20px;
}
