:host {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  height: 100svh;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.row {
  display: flex;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  width: 100%;
}

