.content{
  /*display: flex;*/
}

body{
  background-color: #0b0b0b;
  min-width: 600px;
}

h3 {
  color: #e4e4e4;
 margin-top: 100px;
}

mat-icon {
  color: #e4e4e4;
}

button{
  background-color: #3f3f3f;
  color: #00abcd;
  min-width: 100px;
  margin-top: 100px;
  margin-left: 20px;
}

select {
  background-color: #3f3f3f;
  color: #00abcd;
  min-width: 100px;
  /*justify-content: flex-end;*/
  height: 40px;
  border-radius: 5px;
  border-color: #3f3f3f;
}
