<body>
<app-top-bar></app-top-bar>
<article class="p-3" id="content">
  <h3>{{data?.movieTitle}} | {{data?.languageVersion}} </h3>
  <section class="d-flex flex-column gap-2">
    <div class="screen col-11 align-self-end justify-content-center hall-whole">EKRAN</div>
    <div *ngFor="let row of seats; index as i" class="row-m">
      <section class="hall row">
        <p class="col-1">{{numberToLetterMap[i+1]}}</p>
        <div class="col">
          <div class="row justify-content-center hall-row">
            <div *ngFor="let f of row; let i2 = index" class="col-1">
              <label class="seat" [ngClass]="isTaken(i, i2) ? 'taken' : 'free'" >
                <input  type="checkbox" (click)="selectSeat$.next(rowAndColToName(i + 1, i2 + 1))"
                        [ngClass]="isTaken(i, i2) ? 'taken-checkbox' : 'free-checkbox'">
                <span class="checkmark">{{i2 + 1}}</span>
              </label>
            </div>
          </div>
        </div>
      </section>
    </div>
    <ng-container *ngIf="selectedMessage$ | async as message">
<!--      <p>Selected: {{message}}</p>-->
<!--      <button type="button" class="btn btn-dark">Buy</button>-->
    </ng-container>

    <div *ngFor="let key of seatsTypeMap.keys()" class="ticket-type-row">
      <span>{{key}}</span>
    <div class="radio-toolbar" id="key">
      <input type="radio" id="{{'ticketTypeU' + key}}" name="{{'radio_' + key }}" [value]="TicketType.Uczniowski" (change)="selectTicket($event.target, key)" checked>
      <label for="{{'ticketTypeU' + key}}">Uczniowski</label>

      <input type="radio" id="{{'ticketTypeS' + key}}" name="{{'radio_' + key }}" [value]="TicketType.Studencki" (change)="selectTicket($event.target, key)">
      <label for="{{'ticketTypeS' + key}}">Studencki</label>

      <input type="radio" id="{{'ticketType' + key}}" name="{{'radio_' + key }}" [value]="TicketType.Normalny" (change)="selectTicket($event.target, key)">
      <label for="{{'ticketType' + key}}">Normalny</label>
    </div>
    </div>

    <div *ngIf="seatsTypeMap.size > 0" class="button-div">
      <button type="button" class="btn btn-dar id summary">Podsumowanie</button>
    </div>
  </section>
</article>
</body>
